#cita-ecom-discount .candidates {
    padding: 0 0 0.5rem;
    border: 1px solid #d7d7d7;
    border-top: 0;
    position: absolute;
    width: calc(100% - 1.5385rem * 2);
    left: 1.5385rem;
    z-index: 1;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

#cita-ecom-discount table ul li,
#cita-ecom-discount .candidates li {
    list-style: none;
}

#cita-ecom-discount .candidates li a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    transition: all ease-out .3s;
    background-color: rgba(86,107,141, 0);
}

#cita-ecom-discount .candidates li a:hover,
#cita-ecom-discount .candidates li a:focus {
    color: white;
    background-color: rgba(86,107,141, 0.6);
}

#cita-ecom-discount table ul {
    padding: 0;
    margin-top: 1rem;
}

#cita-ecom-order h1,
#cita-ecom-order h2,
#cita-ecom-order h3,
#cita-ecom-order h4,
#cita-ecom-order h5,
#cita-ecom-order h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#cita-ecom-order h2,
#cita-ecom-order h3,
#cita-ecom-order h4,
#cita-ecom-order h5,
#cita-ecom-order h6 {
    margin-bottom: 0.5rem;
}

#cita-ecom-order h1 {
    display: flex;
    align-items: center;
}

#cita-ecom-order h1 span {
    margin-right: 1rem;
}

#cita-ecom-order p:last-child {
    margin-bottom: 0;
}

#cita-ecom-order .address-detail p {
    margin-bottom: 0.5rem;
}

#cita-ecom-order ul {
    padding-left: 1.25em;
}

#cita-ecom-order ul:last-child {
    margin-bottom: 0;
}

#cita-ecom-order tfoot td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#cita-ecom-order tfoot tr:first-child td {
    padding-top: 0.5rem;
}


#cita-ecom-order .aside-inner {
    background-color: #e7e7e7;
    border-radius: 8px;
    padding: 1rem;
    position: sticky;
    top: 1rem;
}

#cita-ecom-order .field:not(:last-child) {
    margin-bottom: 1rem;
}

#cita-ecom-order .field.actions {
    display: flex;
    justify-content: flex-end;
}

.jstree-leaf.class-Cita_eCommerce_Model_Subscription.notinmenu {
    display: none;
}